/*.dropbt {
    background-color: purple;
   
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdow {
    position: relative;
    margin-top: 255px;
    margin-left: 350px;
    display: inline-block;
    top: 360px; adjust the top coordinate 
    left: 1005px;
   
   
  }
  

  
  .dropdow-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    

  }
  
  .dropdow-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdow-content a:hover {
    background-color: #ddd;
  }
  
  .dropdow:hover .dropdow-content {
    display: block;
  }
  
  .dropdow:hover .dropbt {
    background-color: rgb(85, 3, 85);
    
  }*/
  /*.dropdow {
    position: absolute;
    top: 100%;
    left: 0;
    
    
  }
  
  .dropbt {
    background-color: purple;
    color: white;
    padding: 10px 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .dropdow-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdow-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdow-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdow:hover .dropdow-content {
    display: block;
    background-color: white;
    width: 166px;
  }*/
  .dropdow {
    position: absolute;
    /* top: calc(100% + 10px); */
    
    right: 625px;
    
    
  }
  
  .dropbt {
    background-color:purple;
    color: white;
    padding: 10px 37px;
    border: none;
    outline: none;
    cursor: pointer;

    
    
   
  }
  
  .dropdow-content {
    display: none;
    position: absolute;
    z-index: 1;
    
  }
  
  .dropdow-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdow-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdow:hover .dropdow-content {
    display: block;
    background-color: white;
    width: 165px;
  }
  #selectedOption {
    background-color:purple ;
    padding: 20px;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    
    
  }
  