body {
    margin: 0;
    padding: 0;
    background: url("/images/background.png");
    background-size: cover;
    background-position:center;
    font-family: sans-serif;
    
  }
  
  .signup-box {
    width: 360px;
    height: 660px;
    margin: auto;
    background-color: #5b3ad4;
    
    border-radius: 5px;
    
  }
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
    transform: translateY(-45px);
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #b40b0b;
    color: white;
    font-size: 18px;
}

input[type="submit"]:active{
    background-color:black;
    transform: translate(2px);
}

  p {
    text-align: center;
    /*padding-top: 20px;*/
    /*font-size: 15px;*/
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
    transform: translateY(22px);
  
    
  }
  .para-2 a {
    color: #b40b0b;
  }
  .temp{
    color: darkgrey;
   
  }


  .TC{
    transform: translateY(-45px);
    
  }
  .error{
    text-align: center;
    transform: translateY(-15px);
    font-size: 20px;
  }
  
  .extra-space {
    height: 70px; /* same value as the padding-bottom value of .content */
  }

  
  
  