<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar</title>
   <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/drop.css"/>
    <link rel="stylesheet" type="text/css" href="/css/playbutton.css"/>
    
</head>
<body>
    <header>
        <div class="main">
            <ul>
              <li><a  href="/"> Home</a> </a></li>
              <li><a  href="/search_nologin.html"> Search </a> </a></li>
              <li><a  href="/signup"> Sign up </a> </a></li>
              <li><a  href="login.html"> Login </a> </a></li>
              
                
            </ul>
        </div>
        <!--<div class="dropdow">
            <button class="dropbt">Search By</button>
            <div class="dropdow-content">
              <a href="#">Song Name</a>
              <a href="#">Genre</a>
              <a href="#">Playlist</a>
            </div>
          </div>-->
    </header>
    <div class="container">
        <form method="POST">
            <input list="mysongs" name = "mysearch" type="text" placeholder="What do you want to listen to?">
            <datalist id="mysongs">
              {{range $element := .MySongChildData}} 
                  <option value = "{{$element.Song}}"></option>
                  <br>
                {{end}}
              </datalist>
            <button type="submit">Search</button>
            <div class="dropdow">
                <button type="button" class="dropbt">Search By &#9660</button>
                <div class="dropdow-content">
                  <a onclick="updateSelectedOption('Song Name')">Song Name</a>
                  <a onclick="updateSelectedOption('Genre')">Genre</a>
                  <a onclick="updateSelectedOption('Artist')">Artist</a>
            
                </div>
            
        </div>
        
         <span name = "selectedOption" id="selectedOption">Song Name</span>
         <input value="Song Name" id = "selectedOptionNAME" name = "selectedOptionNAME" type="text"  hidden>
      
      
        <input name="songID" id="songID" value = "" hidden></input>
        <select id="select-box" name = "test" size=10 onchange="console.log('BIG CHANGE');document.getElementById('songID').value = value;this.form.submit()">
          {{range $element := .MySongChild}} 
            <option value="{{$element.SongID}}]{{$element.SongPath}}]{{$element.Song}}" > {{$element.Song}} </option>
            <br>
 
          {{end}}
      </select>
    </form>
      </div>

      <audio id="myAudio">
        <source id="source" src="{{.SelectedSongPath}}" type="audio/mp3">
      </audio>  

      <div id = "playBox">
        <p id = "songtitle">{{.SelectedSong}}</p>
        <audio id="myAudio" controls>
          <source id="source" src="{{.SelectedSongPath}}" type="audio/mp3">
        </audio>  
        <!-- <button class="playBtn" id = "playpause" onclick="playPause()">Play/Pause</button> -->
        <!-- <a id = "playpause" onclick="playPause()" class="playBtn"></a> -->
      </div>
    </div>
<script>
function addAudioPath(option) {
  var bothVals = option.split("]")
  document.getElementById("source").src = option[1]
  document.getElementById("songtitle").innerHTML = option[2]
  console.log(document.getElementById("source").src)
  var audio = document.getElementById("myAudio")
  audio.load()
}
function updateSelectedOption(option) {
    console.log("here")
    document.getElementById("selectedOption").innerHTML = option;
    document.getElementById("selectedOptionNAME").value = option;
}

    var audio = document.getElementById("myAudio");
  
    function playPause() {
      if (audio.paused) {
        console.log("play")
        audio.play();
      } else {
        audio.pause();
      }
    }
  </script>
</body>

</html>
    



 