<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up | By Code Info</title>
    <link rel="stylesheet" href="/css/signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>It's free and only takes a minute</h4>
      {{if .}}
          <div class="error">
            <span style="color:red">{{.}}</span>
          </div>
        {{end}}-
      <form action = "/signup" method="POST">
        <label>First Name</label>
        <input name="fname" type="text" placeholder="" />
        <label>Last Name</label>
        <input name="lname" type="text" placeholder="" />
        <label>Email</label>
        <input name ="email" type="email" placeholder="" />
        <label>Username</label>
        <input name ="username" type="username" placeholder="" />
        <label>Password</label>
        <input name ="password" type="password" placeholder="" />
        <label>Confirm Password</label>
        <input name ="CPassword" type="password" placeholder="" />
        <input type="submit" value="Submit" />
        
      </form>
     <!--{{if .}}

            <p style="color:red">{{.}}</p>
        {{end}}-->
     
    </div>
    <div class="para-2">
      Already have an account? <a href="login.html">Login here</a>
    </div>
    <div class="extra-space"></div>
    <!--{{if .}}

            <p style="color:red">{{.}}</p>
        {{end}}-->
    
  </body>
</html>